<html>
<head>
	<style>
		img
		{
			display: inline-block;
		}
		h1
		{
			display: inline-block;
			position: relative;
			margin: auto;
		}
	</style>
</head>
<body>
	<div>
	<img src="{{album.album_logo}}" width="10%" />
	<h1>{{album}}</h1>
	</div>
	<audio autoplay="autoplay" loop="loop">
		<source src="..{{song.song_src}}" type="audio/{{song.file_type}}" />
	</audio>
	<h3>
		The song playing is {{song}}
	</h3>
	{% if error_message %}
		<p><strong>{{error_message}}</strong></p>
	{% endif %}
	<form action="{% url 'web0:favorite' album.id%}" method="post">
		{% csrf_token %}
		{% for song in album.song_set.all %}
		<input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}">
		<label for="song {{forloop.counter}}">
			{{song.song_title}}
			{%if song.is_favorite%}
				<img src="http://i.imgur.com/b9b13Rd.png">
			{%endif%}
		</label></br>
		{%endfor%}
		<input type="submit" value="Favorite">
	</form>	
</body>	
</html>